
@model List<Item>

<label for="select-item">Items</label>
    <select id="select-item" onchange="setItemNumInStock()" asp-items="ViewBag.Items" class="form-control">
        <option value="">Choose One</option>
    </select>

   
    <div class="col-md-2 mt-3 amount text-center">
    <input id="number" class=" form-control w-100" type="number"  />
       </div>

<div id="add-div">
    <button id="add">Add</button>
</div>

<script>
    var itemList = @Html.Raw(Json.Serialize(Model));
   
</script>

<script src="/js/Item.js"></script>
