@model Item
<div>
    <table class="table" id="order-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Total Price
                </th>
            </tr>
        </thead>
        <tbody id="table-body"></tbody>    
    </table>
</div>

