@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<span id="hour">00</span>:
<span id="minute">00</span>:
<span id="second">00</span>


